################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eApartments
/eApartments/bin/Debug
/eApartments/obj/Debug
